USE [master]
GO
/****** Object:  Database [PharmacyManegermentDB]    Script Date: 08/01/2025 17:29:26 ******/
CREATE DATABASE [PharmacyManegermentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PharmacyManegermentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PharmacyManegermentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PharmacyManegermentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PharmacyManegermentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmacyManegermentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmacyManegermentDB]
GO
/****** Object:  Table [dbo].[BANGLUONG]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLUONG](
	[MaBangLuong] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [varchar](10) NOT NULL,
	[Luong] [int] NULL,
	[LanCuoiCapNhat] [timestamp] NULL,
 CONSTRAINT [PK_BANGLUONG] PRIMARY KEY CLUSTERED 
(
	[MaBangLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONTHUOC]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONTHUOC](
	[MaDonThuoc] [varchar](10) NOT NULL,
	[MaThuoc] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
 CONSTRAINT [PK__CHITIETD__E923A181843CCF56] PRIMARY KEY CLUSTERED 
(
	[MaDonThuoc] ASC,
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaChucVu] [varchar](5) NOT NULL,
	[TenChucVu] [nvarchar](20) NOT NULL,
	[MoTa] [nvarchar](125) NOT NULL,
 CONSTRAINT [PK__CHUCVU__38D2606880CC0B41] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__CHUCVU__E70F401A3625C1D9] UNIQUE NONCLUSTERED 
(
	[TenChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEUCHINHKHO]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEUCHINHKHO](
	[MaDieuChinh] [varchar](10) NOT NULL,
	[MaThuoc] [varchar](10) NOT NULL,
	[MaNguyenNhan] [varchar](10) NOT NULL,
	[NgayChinh] [datetime] NOT NULL,
	[SoLuongChinh] [int] NOT NULL,
	[SoLuongConLai] [int] NOT NULL,
 CONSTRAINT [PK__DIEUCHIN__4D72548C01700E3F] PRIMARY KEY CLUSTERED 
(
	[MaDieuChinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONTHUOC]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONTHUOC](
	[MaDonThuoc] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
	[MaNhanVien] [varchar](10) NOT NULL,
	[NgayLenDon] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
 CONSTRAINT [PK__DONTHUOC__12B3B5D2B2C1BE98] PRIMARY KEY CLUSTERED 
(
	[MaDonThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAODICH]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAODICH](
	[magiaodich] [varchar](10) NOT NULL,
	[malo] [varchar](10) NULL,
	[manhacungcap] [varchar](10) NULL,
	[loaigiaodich] [nvarchar](30) NULL,
	[ngaythuchien] [date] NULL,
	[soluongtonconlai] [int] NULL,
	[tinhtrang] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[magiaodich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHANGHANG]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHANGHANG](
	[MaKhachHang] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[Email] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](15) NULL,
 CONSTRAINT [PK__KHANGHAN__52F5E8381F6933AD] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOTHUOC]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOTHUOC](
	[MaLo] [varchar](10) NOT NULL,
	[MaThuoc] [varchar](10) NOT NULL,
	[NgaySanXuat] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK__LOTHUOC__7A21A32462FF1B52] PRIMARY KEY CLUSTERED 
(
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENNHAN]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENNHAN](
	[MaNguyenNhan] [varchar](10) NOT NULL,
	[NoiDung] [nvarchar](75) NULL,
 CONSTRAINT [PK__NGUYENNH__3502974F85E56279] PRIMARY KEY CLUSTERED 
(
	[MaNguyenNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[manhacungcap] [varchar](10) NOT NULL,
	[tennhacungcap] [nvarchar](30) NULL,
	[diachi] [nvarchar](30) NULL,
	[email] [nvarchar](30) NULL,
	[sodienthoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[manhacungcap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[NgayVaoLam] [date] NOT NULL,
	[MaChucVu] [varchar](5) NOT NULL,
	[MaTiemThuoc] [varchar](10) NOT NULL,
 CONSTRAINT [PK__NHANVIEN__75A28B525134A4AF] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__NHANVIEN__29C2DED318CAFF42] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC,
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [varchar](10) NOT NULL,
	[TenTaiKhoan] [nvarchar](30) NOT NULL,
	[MatKhau] [nvarchar](30) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[LanCuoiCapNhat] [datetime] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TAIKHOAN__8ADCB8A7894D2F60] UNIQUE NONCLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MaThuoc] [varchar](10) NOT NULL,
	[TenThuoc] [nvarchar](30) NOT NULL,
	[GiaDonVi] [int] NOT NULL,
	[LieuThuoc] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](125) NULL,
	[SoLuongTon] [int] NOT NULL,
 CONSTRAINT [PK__THUOC__B901453E32F84918] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__THUOC__CBD0B555813699E3] UNIQUE NONCLUSTERED 
(
	[MaThuoc] ASC,
	[TenThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEMTHUOCTAY]    Script Date: 08/01/2025 17:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEMTHUOCTAY](
	[MaTiemThuoc] [varchar](10) NOT NULL,
	[TenChiNhanh] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
 CONSTRAINT [PK__TIEMTHUO__57E86610D46BFFEE] PRIMARY KEY CLUSTERED 
(
	[MaTiemThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TIEMTHUO__A55CD9B37E31036F] UNIQUE NONCLUSTERED 
(
	[TenChiNhanh] ASC,
	[DiaChi] ASC,
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NGAYVAOLAM]  DEFAULT (getdate()) FOR [NgayVaoLam]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TaiKhoan_TrangThai]  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGLUONG_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[BANGLUONG] CHECK CONSTRAINT [FK_BANGLUONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETDONTHUOC]  WITH CHECK ADD  CONSTRAINT [madonthuoc] FOREIGN KEY([MaDonThuoc])
REFERENCES [dbo].[DONTHUOC] ([MaDonThuoc])
GO
ALTER TABLE [dbo].[CHITIETDONTHUOC] CHECK CONSTRAINT [madonthuoc]
GO
ALTER TABLE [dbo].[CHITIETDONTHUOC]  WITH CHECK ADD  CONSTRAINT [mathuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[CHITIETDONTHUOC] CHECK CONSTRAINT [mathuoc]
GO
ALTER TABLE [dbo].[DIEUCHINHKHO]  WITH CHECK ADD  CONSTRAINT [FK_mathuoc_DIEUCHINHKHO] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[DIEUCHINHKHO] CHECK CONSTRAINT [FK_mathuoc_DIEUCHINHKHO]
GO
ALTER TABLE [dbo].[DIEUCHINHKHO]  WITH CHECK ADD  CONSTRAINT [manguyennhan] FOREIGN KEY([MaNguyenNhan])
REFERENCES [dbo].[NGUYENNHAN] ([MaNguyenNhan])
GO
ALTER TABLE [dbo].[DIEUCHINHKHO] CHECK CONSTRAINT [manguyennhan]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_manhanvien_DONTHUOC] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [FK_manhanvien_DONTHUOC]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [makhachhang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHANGHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [makhachhang]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [malo] FOREIGN KEY([malo])
REFERENCES [dbo].[LOTHUOC] ([MaLo])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [malo]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [manhacungcap] FOREIGN KEY([manhacungcap])
REFERENCES [dbo].[NHACUNGCAP] ([manhacungcap])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [manhacungcap]
GO
ALTER TABLE [dbo].[LOTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_mathuoc_LOTHUOC] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[LOTHUOC] CHECK CONSTRAINT [FK_mathuoc_LOTHUOC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[CHUCVU] ([MaChucVu])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [matiemthuoc] FOREIGN KEY([MaTiemThuoc])
REFERENCES [dbo].[TIEMTHUOCTAY] ([MaTiemThuoc])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [matiemthuoc]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_Account_Employee] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_Account_Employee]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TAIKHOAN_LASTUPDATED] CHECK  (([LanCuoiCapNhat]>=getdate()))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TAIKHOAN_LASTUPDATED]
GO
USE [master]
GO
